In [1]:
! pip install yfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: yfinance in /usr/local/lib/python3.8/dist-packages (0.2.3)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.8/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: cryptography>=3.3.2 in /usr/local/lib/python3.8/dist-packages (from yfinance) (38.0.4)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /usr/local/lib/python3.8/dist-packages (from yfinance) (4.11.1)
Requirement already satisfied: html5lib>=1.1 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.1)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: pytz>=2022.5 in /usr/local/lib/python3.8/dist-packages (from yfinance) (2022.6)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.8/dist-packages (from yfinance) (2.28.1)
Requirement already satisfied: lxml>=4.9.1 in /usr/local/lib/python3.8/dist-packages (from yfinance) (4.9.2)
Requirement already satisfied: frozendict>=2.3.4 in /usr/local/lib/python3.8/dist-packages (from yfinance) (2.3.4)
Requirement already satisfied: numpy>=1.16.5 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: pandas>=1.3.0 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.8/dist-packages (from beautifulsoup4>=4.11.1->yfinance) (2.3.2.post1)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.8/dist-packages (from cryptography>=3.3.2->yfinance) (1.15.1)
Requirement already satisfied: pycparser in /usr/local/lib/python3.8/dist-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.21)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.8/dist-packages (from html5lib>=1.1->yfinance) (1.15.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.8/dist-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2.1.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2.10)

In [2]:
#Importing libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf

# Getting Stock Data

In [3]:
ticker = yf.Ticker('NESTLEIND.NS')
df_nestle = ticker.history(start = "2019-12-20", end = '2022-12-20')
df_nestle

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2019-12-20 00:00:00+05:30,13634.700017,14321.215768,13598.413935,14206.716797,423033,0.0,0.0
2019-12-23 00:00:00+05:30,14137.635021,14335.892365,13854.614598,13895.250977,125031,0.0,0.0
2019-12-24 00:00:00+05:30,13940.667397,13982.020885,13827.697898,13946.404297,39686,0.0,0.0
2019-12-26 00:00:00+05:30,13959.789378,14069.746623,13921.543380,13959.072266,45924,0.0,0.0
2019-12-27 00:00:00+05:30,14006.450466,14045.509756,13935.408705,14021.127930,29385,0.0,0.0
...,...,...,...,...,...,...,...
2022-12-13 00:00:00+05:30,20561.000000,20635.949219,20330.000000,20388.300781,49134,0.0,0.0
2022-12-14 00:00:00+05:30,20385.150391,20450.650391,20006.650391,20063.500000,81680,0.0,0.0
2022-12-15 00:00:00+05:30,20063.500000,20149.949219,19634.449219,19737.849609,39554,0.0,0.0
2022-12-16 00:00:00+05:30,19725.000000,19860.000000,19570.099609,19738.699219,69321,0.0,0.0
2022-12-19 00:00:00+05:30,19800.000000,20120.000000,19799.949219,20081.650391,65448,0.0,0.0

In [4]:
ticker = yf.Ticker('RELIANCE.NS')
df_reliance = ticker.history(start = "2019-12-20", end = '2022-12-20')
df_reliance

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2019-12-20 00:00:00+05:30,1583.970764,1586.471717,1565.433888,1568.376221,9816798,0.0,0.0
2019-12-23 00:00:00+05:30,1530.125528,1547.240246,1527.869679,1541.208374,11587233,0.0,0.0
2019-12-24 00:00:00+05:30,1538.756520,1541.845939,1512.863752,1516.737793,8329356,0.0,0.0
2019-12-26 00:00:00+05:30,1512.029982,1523.112828,1481.135190,1486.284302,13734705,0.0,0.0
2019-12-27 00:00:00+05:30,1497.661527,1516.492576,1492.071035,1512.716553,8158196,0.0,0.0
...,...,...,...,...,...,...,...
2022-12-13 00:00:00+05:30,2613.100098,2633.000000,2606.699951,2625.000000,3845839,0.0,0.0
2022-12-14 00:00:00+05:30,2637.649902,2638.949951,2611.000000,2615.500000,3354618,0.0,0.0
2022-12-15 00:00:00+05:30,2602.500000,2615.000000,2571.000000,2578.350098,4009765,0.0,0.0
2022-12-16 00:00:00+05:30,2571.000000,2618.800049,2558.149902,2565.600098,7308934,0.0,0.0
2022-12-19 00:00:00+05:30,2581.000000,2604.000000,2566.699951,2599.300049,3567363,0.0,0.0

In [5]:
ticker = yf.Ticker('ADANIPOWER.NS')
df_adani = ticker.history(start = "2019-12-20", end = '2022-12-20')
df_adani

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2019-12-20 00:00:00+05:30,61.500000,63.049999,61.400002,61.900002,4775709,0.0,0.0
2019-12-23 00:00:00+05:30,61.700001,62.150002,60.450001,61.000000,4176895,0.0,0.0
2019-12-24 00:00:00+05:30,61.200001,61.599998,60.500000,60.700001,3093544,0.0,0.0
2019-12-26 00:00:00+05:30,60.700001,60.900002,59.799999,60.049999,3163650,0.0,0.0
2019-12-27 00:00:00+05:30,60.000000,60.750000,60.000000,60.250000,2481455,0.0,0.0
...,...,...,...,...,...,...,...
2022-12-13 00:00:00+05:30,310.500000,325.700012,310.500000,323.000000,6144873,0.0,0.0
2022-12-14 00:00:00+05:30,322.799988,326.899994,317.350006,319.350006,3340492,0.0,0.0
2022-12-15 00:00:00+05:30,320.649994,322.549988,314.500000,315.450012,1720989,0.0,0.0
2022-12-16 00:00:00+05:30,315.000000,317.700012,306.000000,307.899994,4178496,0.0,0.0
2022-12-19 00:00:00+05:30,309.000000,309.899994,301.000000,305.799988,3057699,0.0,0.0

In [6]:
closing_price = pd.DataFrame()

closing_price['closing price of Nestle ']  = df_nestle['Close']
closing_price['closing price of Adani ']   = df_adani['Close']
closing_price['closing price of Reliance'] = df_reliance['Close']

closing_price

,closing price of Nestle,closing price of Adani,closing price of Reliance
Date,,,
2019-12-20 00:00:00+05:30,14206.716797,61.900002,1568.376221
2019-12-23 00:00:00+05:30,13895.250977,61.000000,1541.208374
2019-12-24 00:00:00+05:30,13946.404297,60.700001,1516.737793
2019-12-26 00:00:00+05:30,13959.072266,60.049999,1486.284302
2019-12-27 00:00:00+05:30,14021.127930,60.250000,1512.716553
...,...,...,...
2022-12-13 00:00:00+05:30,20388.300781,323.000000,2625.000000
2022-12-14 00:00:00+05:30,20063.500000,319.350006,2615.500000
2022-12-15 00:00:00+05:30,19737.849609,315.450012,2578.350098
2022-12-16 00:00:00+05:30,19738.699219,307.899994,2565.600098
2022-12-19 00:00:00+05:30,20081.650391,305.799988,2599.300049

# Sortino Ratio 
![Sortino-ratio-calculation.jpg.webp]()

In [7]:
#calculate log returns because they are more accurate with time
log_returns = np.log(1+ closing_price.pct_change()) 

symbols = ['NESTLEIND.NS', 'RELIANCE.NS', 'ADANIPOWER.NS']
no_of_symbols=3

In [10]:
Portfolios = int(input("Enter no_of_Portfolios:"))

random_weights = np.zeros((Portfolios,no_of_symbols))

ret_arr = np.zeros(Portfolios)

sortino_arr = np.zeros(Portfolios)

for ind in range(Portfolios):
    
    weights = np.array(np.random.random(no_of_symbols))
    weights  = weights/np.sum(weights)
    
    random_weights[ind, :] = weights
    
    ret_arr[ind] = np.sum(log_returns.mean()*weights*987)
    
    portfolio_return = np.sum(ret_arr[ind]* weights)

    risk_free_rate = 0
    target_return =  2

    downside_deviation = np.sqrt(np.mean(np.maximum(0, target_return - ret_arr[ind]) ** 2))

    sortino_arr[ind] = (portfolio_return - risk_free_rate) / downside_deviation

Enter no_of_Portfolios:100

In [11]:
simulation_data = [ret_arr, sortino_arr, random_weights]

simulations_df = pd.DataFrame(data=simulation_data).T

simulations_df.columns = ['Returns','Sortino Ratio','Portfolio weights']

simulations_df = simulations_df.infer_objects()

print('Portfolio metrics:')
display(simulations_df.head())

Portfolio metrics:

    Returns  Sortino Ratio                                  Portfolio weights
0  0.866165       0.763925  [0.32766336871389146, 0.18297538901489402, 0.4...
1  0.777341       0.635778  [0.5603739932654899, 0.15557308858239882, 0.28...
2  1.185566       1.455693  [0.365288077466684, 0.40889431870186294, 0.225...
3  0.920986       0.853544  [0.15606350121336504, 0.19581260849023602, 0.6...
4  1.447927       2.622709  [0.029403390398263597, 0.5410347883478105, 0.4...